/* this css file will only style the homepage of our site */

#my-portrait {
  width: 500px;
}

.minor-section {
  border: solid 5px darkblue;
  background-color: rgb(110, 159, 176);
}

#section2 {
  border: solid 5px darkblue;
  background-color: rgb(110, 159, 176);
}

#content {
  background-color: rgb(216, 127, 192);
  
}