/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }

#mercedes {
   width: 500px;
  }

#javalab6script {
    width: 750px;
  }

#toplab6htmls {
    width: 1000px;
  }

#bottomlab6htmls {
    width: 1000px;
  }

#javalab6sec {
    padding: 10px;
    border: solid 5px rgb(72, 83, 241);
    font-style: oblique;
    background-color: rgb(159, 228, 128);
    text-align: center;
    font-size: large;
    font-weight: bold;
  }